.navbar {
  background-color: rgb(31, 31, 31);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* padding: 12px 0; */
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.navbar img {
  height: 4.5rem;
  display: block;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-links a {
  font-family: 'Biotif', sans-serif;
  font-weight: 400;
  font-size: .75rem;
  text-decoration: none;
  color: #8F9BA8;
  transition: color 0.2s ease;
}

.nav-links a:hover {
  color: #ECEDEE;
}

.btn-contact {
  font-family: 'Biotif', sans-serif;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  padding: 10px 14px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;
  background-color: #00bf63;
  color: #0b0b0b;
  border-radius: 999px;
  border: 1px solid #00a457;
  box-shadow: 0 6px 16px -4px rgba(0,0,0,0.4);
  transition: transform .15s ease, box-shadow .15s ease, filter .15s ease;
}
